*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#14131b;
color:white;
height:100vh;
}

/* CONTENEDOR PRINCIPAL */

.admin-container{

display:grid;
grid-template-columns:220px 260px 1fr;

height:100vh;

}

/* PANELES */

.panel{

padding:25px;

border-right:1px solid rgba(255,255,255,0.08);

}

/* PANEL IZQUIERDO */

.panel-left{

background:#1b1826;

}

.panel-left h2{
margin-bottom:20px;
}

.panel-left ul{
list-style:none;
}

.menu-item{

padding:10px;
border-radius:6px;
cursor:pointer;
margin-bottom:8px;
transition:.2s;

}

.menu-item:hover{

background:#2b2540;

}

/* PANEL MEDIO */

.panel-middle{

background:#181622;

}

.panel-middle ul{
list-style:none;
margin-top:10px;
}

.action-item{

padding:10px;
border-radius:6px;
cursor:pointer;
margin-bottom:8px;
transition:.2s;

}

.action-item:hover{

background:#2b2540;

}

/* PANEL DERECHO */

.panel-right{

background:#14131b;

}

/* FORMULARIOS */

form{

display:flex;
flex-direction:column;

gap:12px;

max-width:400px;

}

input, select{

padding:10px;

border:none;

border-radius:6px;

background:#1f1c2d;

color:white;

}

button{

padding:10px;

border:none;

border-radius:6px;

background:#8e7dff;

color:white;

cursor:pointer;

}

button:hover{

background:#a799ff;

}

.placeholder{

opacity:.6;

margin-top:20px;

}